.menu{
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
}
body{
    margin: 0px;
    background-color:rgb(139, 137, 137);
    
}
.grid{
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    margin: 20px;
    
}
.grid img{
    border: 2px solid #000000;
    border-radius: 50px;
}
.origami {
    
    border-radius: 20px;
    background-color: #ffffff;
    padding: 30px;
    margin: 25px;
    width:310px;
    font-family: fantasy;
    
}
a:link {
    color: white;
}
a:visited {
    color: white;
}
.origami:hover {
    transform: scale(1.2);
}
.bodyimg {
    position: relative;

  }
  .bodyimg p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
  }
  .bodyimg h3{
    columns: #000000;;
    font-family: sans-serif;
    font-size: 30px;
    width: 1600px;
    position: absolute;
    top:40%;
    left:45%;
    transform: translate(-40%, -40%);
}
  